<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= title %></title>
	<style type="text/css">@import url(<%= document_root %>/_css/styles.css);</style>
	<script src="<%= document_root %>/_js/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var content_id = '<%= toc_title %>';
	</script>
</head>
<body>
	<div id="toc">
		<iframe src="toc.html" name="toc_frame"></iframe>
	</div>
	<div id="header">
		<a href="#" id="logo"><img src="<%= document_root %>/_img/logo.gif" /></a>
		<ul id="mainNavigation">
			<li><a href="<%= document_root %>/abstract/introduction.html">Abstract</a></li>
			<li><a href="<%= document_root %>/css/background.html">CSS Documentation</a></li>
			<li><a href="<%= document_root %>/asdoc/index.html">Source Documentation</a></li>
			<li><a href="<%= document_root %>/cookbook/doing_stuff.html">Cookbook</a></li>
		</ul>
	</div>
	<div id="content">
		<%= content %>
	</div>
</body>
</html>