@import url(common.css);

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 16px;
}

ul.packageList ul.classList
{
	margin-left: 11px;
	margin-top: 2px;
	margin-bottom: 5px;
	border: 1px solid #efefef;
	background-color: #fcfcfc;
	line-height: 14px;
	margin-right: 10px;
}

ul.classList
{
	display: none;
}

ul.classList li
{
	padding: 3px 10px;
}

ul.classList li.odd
{
	background-color: #f4f4f4;
}

li.expanded .classList
{
	display: block;
}

a.expandButton
{
	display: block;
	float: left;
	width: 9px;
	height: 9px;
	background: transparent url(../_img/arrow_right.gif) no-repeat;
	margin-right: 2px;
	margin-top: 4px;
}

li.expanded a.expandButton
{
	background-image: url(../_img/arrow_down.gif);
}

li.expanded span.packageName
{
	font-weight: bold;
}