@import url(common.css);
@import url(common_content.css);

table
{
	border: 1px dotted #8c8b8d;
}

th, td
{
	padding: 10px 20px;
	border-right: 1px dotted #8c8b8d;
}

th:last-child, td:last-child
{
	border-right: none;
}

th
{
	border-bottom: 1px dotted #8c8b8d;
	background-color: #fcfcfc;
}


h1
{
	margin-bottom: 40px;
}

.classHeaderTable, .classHeaderTable th, .classHeaderTable td
{
	border-right-style: solid;
	border-color: #dff0f7;
}

.classHeaderTable th:last-child, .classHeaderTable td:last-child
{
	border-right: none;
}

.classHeaderTable
{
	border-style: solid;
}

.classHeaderTable td
{
	border-bottom: 1px solid #dff0f7;
}

td.classHeaderTableLabel
{
	background-color: #f2f9fc;
	font-weight: bold;
}

.classHeaderTable tr:last-child td
{
	border-bottom: none;
}

hr.headerSeparator
{
	margin: 30px 0;
}


.summaryTable
{
	margin-bottom: 40px;
}

.summaryTable tr.odd td
{
	background-color: #f2f9fc;
}

.seeAlsoLabel
{
	font-weight: bold;
}

div.detailBody
{
	margin-bottom: 30px;
	padding-bottom: 30px;
/*	border-bottom: 1px dotted #8c8b8d;*/
}

.tooltip
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #646464;
	color: #fff;
	padding: 10px;
}

ul.summaryList
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.summaryList li
{
	padding-bottom: 5px;
}

ul.summaryList li.inherited, 
ul.summaryList li.inherited a
{
	color: #555;
}

span.accessType
{
	display: block;
	width: 21px;
	height: 12px;
	background-repeat: no-repeat;
	float: left;
	margin: auto 7px auto 0;
	background-image: url(../_img/icons/readwrite.gif);
}

span.accessType.event
{
	background-image: url(../_img/icons/event.gif);
}

span.accessType.read
{
	background-image: url(../_img/icons/read.gif);
}

span.accessType.write
{
	background-image: url(../_img/icons/write.gif);
}

span.accessType.read-write
{
	background-image: url(../_img/icons/readwrite.gif);
}

span.accessType.static
{
	background-image: url(../_img/icons/static_readwrite.gif);
}

span.accessType.read.static
{
	background-image: url(../_img/icons/static_read.gif);
}

span.accessType.write.static
{
	background-image: url(../_img/icons/static_write.gif);
}

span.accessType.read-write.static
{
	background-image: url(../_img/icons/static_readwrite.gif);
}

span.accessType.method
{
	background-image: url(../_img/icons/method.gif);
}

span.accessType.method.static
{
	background-image: url(../_img/icons/static_method.gif);
}

span.accessType.constant
{
	background-image: url(../_img/icons/constant.gif);
}

span.accessType.constant.static
{
	background-image: url(../_img/icons/static_constant.gif);
}

ul.summaryList a
{
	text-decoration: none !important;
}

ul.summaryList a:hover
{
	text-decoration: underline !important;
}

div.summarySection
{
	padding-bottom: 40px;
}

div.detailBody p
{
	line-height: 16px;
}

div.detailBody dt
{
	font-weight: bold;
}

div.detailBody dd
{
	margin: 5px 0 10px 7px;
}




#filterPreferences
{
	background-color: #f2f9fc;
	border: 1px solid #dff0f7;
	color: #525252;
	padding: 13px 18px;
	font-size: 10px;
	line-height: 10px;
	width: 50%;
	margin: 60px 0 40px 0;
}

#filterPreferences.filter_enabled
{
	background-image: url(../_img/filter_enabled_check.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

#filterPreferences.expanded
{
	background-image: none;
}

#filterPreferences a.label
{
	padding-left: 11px;
	background: transparent url(../_img/arrow_right.gif) no-repeat 0 50%;
	margin-left: -11px;
	font-weight: bold;
}

#filterPreferences.expanded a.label
{
	background-image: url(../_img/arrow_down.gif);
}

#filterPreferences ul
{
	list-style: none;
	display: none;
	margin: 0;
	padding: 10px 0 0 0;
}

#filterPreferences ul li
{
	line-height: 20px;
}

#filterPreferences a
{
	text-decoration: none;
}