#header
{
	background: url(../_img/curve.gif) no-repeat 0 100%;
	position: relative;
	margin-left: 270px;
	margin-bottom: 40px;
	height: 175px;
}

#mainNavigation
{
	right: 57px;
	top: 15px;
	position: absolute;
	list-style: none;
}

#mainNavigation li
{
	float: left;
	margin-right: 7px;
}

#logo
{
	left: 74px;
	top: 43px;
	position: absolute;
}

div#toc
{
	position: fixed;
	left: 20px;
	width: 230px;
	height: 100%;
}

#toc ul ul
{
	display: none;
}

#toc iframe
{
	width: 230px;
	height: 100%;
	border: 0;
}

#toc ul
{
	list-style: none;
	padding: 0;
	line-height: 16px;
}

#toc ul ul
{
	margin-left: 11px;
	margin-top: 2px;
	margin-bottom: 5px;
	line-height: 14px;
	margin-right: 10px;
}

#toc ul ul li
{
	padding: 3px 10px;
}

#toc ul ul li.odd
{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

#toc ul ul li:last-child
{
	border-bottom: none;
}

a.expandButton
{
	background: transparent url(../_img/arrow_right.gif) no-repeat 0 50%;
	padding-left: 11px;
}

li.expanded a.expandButton
{
	font-weight: bold;
	background-image: url(../_img/arrow_down.gif);
}

#toc ul li.expanded ul
{
	display: block;
}

#toc a.selected
{
	font-weight: bold;
}

#content
{
	margin-left: 270px;
	margin-right: 50px;
	margin-bottom: 50px;
}

#content h2, #content p, #content ul, #content dl
{
	margin-bottom: 20px;
}

hr
{
	height: 1px;
	border: 0;
	border-top: 1px dotted #8c8b8d;
	margin: 25px 0 20px 0;
}

pre
{
	border: 1px solid #dff0f7;
	background-color: #f2f9fc;
	padding: 15px;
}