@import url(common.css);
@import url(common_content.css);


h2
{
	margin-top: 50px;
}

p
{
	line-height: 16px;
}

dd
{
	margin-left: 10px;
	margin-bottom: 5px;
}

.sticky
{
	padding: 25px;
	background: #fefcce url(../_img/sticky_bg.gif) no-repeat 100% 0;
}

table
{
	border: 1px dotted #8c8b8d;
}

th, td
{
	padding: 10px 20px;
	border-right: 1px dotted #8c8b8d;
}

td img
{
	display: block;
	margin: 0 auto;
}

th:last-child, td:last-child
{
	border-right: none;
}

th
{
	border-bottom: 1px dotted #8c8b8d;
	background-color: #fcfcfc;
}